@font-face {
    font-family: Lobster;
    src: url("/font/Lobster.otf") format("opentype");
}

@font-face {
    font-family: Roboto;
    src: url("/font/Roboto.ttf") format("ttf");
}

body {
    margin: 0;
    font-family: Roboto;
}

header {
    font-family: Lobster;
    text-align: center;
    color: #222222;
}

header small {
    font-weight: normal;
}

section {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

section h3 {
    font-family: Lobster;
    font-weight: lighter;
    text-align: center;
}

section a {
    font-family: Roboto;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    min-height: 150px;
    border-top: 5px dashed #FFDC00;
}

form {
    text-align: center;
}

input[type="text"], input[type="password"] {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid;
    height: 30px;
    padding-left: 5px;
}

button {
    background-color: #FFDC00;
    border: 1px solid #FFDC00;
    height: 30px;
    min-width: 50px;
    color: #111111;
    margin: 5px;
    cursor: pointer;
}

button:focus {
    outline: none;
}

#leave-room {
    position: absolute;
    top: 10px;
    left: 10px;
}

.button-center {
    width: 100%;
    text-align: center;
}

#room-list a {
    font-family: Lobster;
    font-size: 20px;
    display: inline-block;
    width: 30%;
    margin: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #FFDC00;
    text-align: center;
    cursor: pointer;
}

.user {
    width: 30%;
    display: inline-block;
}

.user h4 {
    font-family: Lobster;
    font-size: medium;
    font-weight: normal;
    text-align: center;
}

.user div {
    width: 100%;
    text-align: center;
}

.volume {
    float: left;
    display: inline-block;
    width: 35%;
    text-align: center;
}

.volume h4 {
    font-family: Lobster;
    margin-top: 25px;
    margin-bottom: 20px;
}

.image {
    display: inline-block;
    width: 30%;
    text-align: center;
}

.image h4 {
    font-family: Lobster;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image select {
    font-family: Lobster;
    font-size: 18px;
    background-color: #FFDC00;
    border: none;
    padding: 8px;
    width: 50%;
    text-align-last:center;
}

.image select:focus {
    outline: none;
}

.audio {
    display: inline-block;
    width: 35%;
    float: right;
    text-align: center;
}

.audio h4 {
    font-family: Lobster;
    margin-top: 20px;
    margin-bottom: 20px;
}

.audio select {
    font-family: Lobster;
    font-size: 18px;
    background-color: #FFDC00;
    border: none;
    padding: 8px;
    width: 50%;
    text-align-last:center;
}

.audio select:focus {
    outline: none;
}